body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 13px;
    background-image: url('nivelEinstein.jpg');
}

.container {
    text-align: center;
    background-color: rgb(255, 255, 255,0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.oculto {
    display: none;
}

.contador {
    font-size: 20px;
    margin-bottom: 20px;
}

.pregunta {
    font-size: 24px;
    margin: 20px 0;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

button.opcion {
    width: 100px;
}

#resultadoFinal {
    font-size: 18px;
}

#puntaje {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

#mensaje {
    font-size: 18px;
    color: #28a745;
}
/* Animación de entrada desde la izquierda */
.entrada-izquierda {
    animation: entrada-izquierda 0.5s forwards;
}

/* Animación de salida hacia la derecha */
.salida-derecha {
    animation: salida-derecha 0.5s forwards;
}

@keyframes entrada-izquierda {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes salida-derecha {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
.dificultad-btn.seleccionado {
    background-color: #007bff;
    color: white;
}
.ejercicios-btn.seleccionado,
.dificultad-btn.seleccionado {
    background-color: #007bff;
    color: white;
}


.p{
    font-weight: bolder;
    background-color: rgb(254, 253, 255);
    width: 90%;
    margin: 10px auto;
    border-radius: 20px;
    padding: 5px;
}